* {
  margin: 0;
  text-decoration: none;
}

.box {
  width: 933px;
  height: 312px;
  margin: 10px auto;
  border: 1px solid silver;
}

.boxLogo {

}

.ativar {
  border-bottom: 3px solid red;
}

.boxEscolher {
  margin-top: 20px;
  display: flex;
}

.ad {
  display: flex;
}

a {
  display: flex;
  padding-bottom: 10px;
  margin: 0;
}

.motoCar {
  padding-top: 17px;
  margin: 0 15px;
  height: 14px;
}

.logo {
  width: 180px;
  height: 50px;
}

.textComprar {
  font: 10px Arial;
}